{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="form-heading">login Form</h1>
		<div class="login-form">
			<div class="main-div">
			    <div class="panel">
			   		<h2>Login Page</h2>
			   		<p>Please enter your email and password</p>
			   	</div>

			   	{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
				   	<p class="errornote" style="color: red;">
					    Please enter the correct username and password. Note that both fields may be case-sensitive.
					</p>
				{% endfor %}
				{% endif %}

			    <form id="Login" method="POST">
			    	{% csrf_token %}
			        <div class="form-group">
			            <input type="text" class="form-control" placeholder="Username" name="username" autofocus="" id="id_username" required>
			        </div>
			        <div class="form-group">
			            <input type="password" class="form-control" name="password" id="id_password" placeholder="Password" required>
			        </div>
			        <button type="submit" class="btn btn-primary">Login</button>
			    </form>
			</div>
		</div>
	</div>
{% endblock %}