{% extends 'project/base.html' %}

{% block content %}
    <div class="container">
		<h1 class="form-heading">Create Project</h1>
		<div class="login-form">
			<div class="main-div">
				<div class="panel">
			   		<h2>Create Project</h2>
			   	</div>
			    <form id="Login" method="POST">
			    	{% csrf_token %}
			        <div class="form-group">
			            <input type="text" class="form-control" placeholder="Project Name" name="name" id="id_name" maxlength="200" required>
			        </div>
			        <div class="form-group">
			            <input type="text" class="form-control" name="phrase" id="id_phrase" maxlength="200" placeholder="Project Phrase" required>
			        </div>
			        <button type="submit" class="btn btn-primary">Create</button>
			    </form>
			</div>
		</div>
	</div>
{% endblock %}