{% load static %}
<html>
    <head>
        <title>Quora Finder</title>
        <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
        <link href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <link href="{% static 'project/css/bootstrap-datetimepicker.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'project/css/jquery.datatables.yadcf.css' %}" rel="stylesheet" type="text/css" />

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'project/js/moment.js' %}"></script>
        <script src="{% static 'project/js/bootstrap-datetimepicker.js' %}"></script>
        <script src="{% static 'project/js/jquery.dataTables.yadcf.js' %}"></script>
        <link rel="stylesheet" href="{% static 'project/css/style.css' %}"> -->

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'project/css/jquery.dataTables_themeroller.css' %}">
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
        <link href="{% static 'project/css/jquery.datatables.yadcf.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'project/css/style.css' %}">

        <script src="{% static 'project/js/jquery-1.8.2.min.js' %}"></script>
        <script src="{% static 'project/js/jquery-ui.1.9.0.js' %}"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="{% static 'project/js/jquery.dataTables.yadcf.js' %}"></script>
        <script src="{% static 'project/js/app.js' %}"></script>
    </head>
    <body>
        <div class="page-header" style="margin-bottom: 2%;">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
                <a class="navbar-brand" href="#">Quora Finder</a>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" id="createproject">
                            <a class="nav-link" href="http://{{ request.get_host }}/project/add">Create Project</a>
                        </li>
                        <li class="nav-item" id="projects">
                            <a class="nav-link" href="/">Projects</a>
                        </li>
                        <li class="nav-item" id="logout">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- <a href="{% url 'addProject' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> -->
        </div>
        <div class="content container" style="margin-bottom: 2%;>
            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                        
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>

    <script type="text/javascript">
        $('#' + '{{ id }}').addClass('active');
    </script>

</html>