{% extends 'project/base.html' %}

{% block content %}
	<style type="text/css">
		#datatable {width: 100%;}
	</style>

	<div>
    	<span>Date:</span>
    	<span id="external_filter_container_2"></span>
    </div>

    <div style="margin-bottom: 2%">
		<input type="button" onclick="yadcf.exFilterExternallyTriggered(oTable);" value="Filter" class="some_btn general_btn">
 		<input type="button" onclick="yadcf.exResetAllFilters(oTable);" value="Reset" class="some_btn general_btn">
  	</div>

	<table id="datatable2" class="tg">
	  <thead>
	  	<tr>
		    <th>Question</th>
		    <th>Views</th>
		    <th>Followers</th>
		    <th>Answers</th>
		    <th>Date</th>
		</tr>
	  </thead>
	  <tbody>
	  {% for detail in details %}
		  <tr>
		    <td><a href="{{ detail.link }}" target="_blank">{{ detail.title }}</a></li></td>
		    <td style="width: 10%;">{{ detail.numviews }}</td>
		    <td>{{ detail.numfollowers }}</td>
		    <td>{{ detail.numanswers }}</td>
		    <td style="width: 12%;">{{ detail.questiondate|date:"m/d/Y" }}</td>
		  </tr>
	  {% endfor %}
	  </tbody>
	</table>
{% endblock %}