{% if projects %}
    <ul>
    {% for project in projects %}
        <li><a href="/project/{{ project.id }}/">{{ project.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}