{% extends 'project/base.html' %}

{% block content %}
	{% if projects %}
		<style type="text/css">
			#datatable {width: 100%;}
		</style>
		<table id="datatable" class="display">
			<thead>
				<tr>
				    <th>#</th>
				    <th>Project Name</th>
				    <th>Keywords</th>
				    <th>Progress</th>
				    <th>Status</th>
				    <th>Download</th>
				    <th>Actions</th>
				  </tr>
			</thead>
		  	<tbody>
			  {% for project in projects %}
				  <tr>
				    <td class="tg-us36">{{ forloop.counter }}</td>
				    <td class="tg-us36"><a href="/project/{{ project.id }}/">{{ project.name }}</a></li></td>
				    <td class="tg-us36">{{ project.phrase }}</td>
				    <td class="tg-us36"></td>
				    {% if project.status %}
				    	<td class="tg-us36" style="background-color: green">Done</td>
				    	<td class="tg-us36">
				    		<button type="button" class="btn btn-default btn-sm">
					          <a href="/project/pdf/{{ project.id }}"><i class="fas fa-file-pdf" style="color: red;" data-toggle="tooltip" data-placement="top" title="Download"></i></a>
					        </button>
				    	</td>
				    {% else %}
				    	<td class="tg-us36" style="background-color: orange">In-progress</td>
				    	<td class="tg-us36"></td>
				    {% endif %}
				    <td class="tg-us36">
				    	<button type="button" class="btn btn-default btn-sm">
				          <a href="/project/delete/{{ project.id }}"><i class="fas fa-trash-alt" style="color: red;" data-toggle="tooltip" data-placement="top" title="Delete"></i></a>
				        </button>
				    </td>
				  </tr>
			  {% endfor %}
			  </tbody>
		</table>
	{% else %}
	    <p>No projects are available.</p>
	{% endif %}
{% endblock %}